<%= error_messages_for 'client' %>

<!--[form:client]-->
<p><label for="client_name">Name</label><br/>
<%= text_field 'client', 'name'  %></p>

<p><label for="client_address">Address</label><br/>
<%= text_field 'client', 'address'  %></p>

<p><label for="client_taxid_rfc">Taxid rfc</label><br/>
<%= text_field 'client', 'taxid_rfc'  %></p>

<p><label for="client_points">Points</label><br/>
<%= text_field 'client', 'points'  %></p>
<!--[eoform:client]-->

