<h1>Editing item_alias</h1>

<% form_tag :action => 'update', :id => @item_alias do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @item_alias %> |
<%= link_to 'Back', :action => 'list' %>
